.contain_foot{
    background-color: #2a404d;
    color: white;
}

.contain_foot a {
    text-decoration:none ;
    color: white;
}

.contain_foot a:hover{
    color: #558a6e;
}

.contain_info{
    display: flex;
    justify-content: space-around;
    padding: 40px 8% 10px 8% ;
}

.information_book{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.help{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
}

.hr_footer{
    width: 100%;
    padding : 0 8% 0 8%;
}

.div_logo{
    font-size: 40px;
    color: #558a6e;
    display: flex;
}


